<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<title>Curso de vuejs - uso Axios</title>

	<style>
		
		.completado {
			text-decoration: line-through;
		}
	</style>
</head>
<body>

	

	<div id="main" class="container">
		
		<!-- <h1 v-if="conectado && edad >=18"> Estas conectado tio</h1>
		<h1 v-else="conectado"> no no no</h1>
		<ul>
			<li v-for="dia in feriados">{{ dia }}</li>
		</ul> -->

		<ul>
			<li v-for="(tarea,index) in tareas"> {{ index }} {{tarea.nombre}} <small>({{tarea.prioridad}})</small></li>
		</ul>

	<!-- 	<ul>
			<li v-for="(value, key, index) in persona">
				{{ index }} - {{ key }}: {{value}}
			</li>
		</ul>
		 -->

		<!-- <h1>Manejo de eventos</h1> -->
		<!-- <input type="text" placeholder="introduce tu tarea" v-model="nuevaTarea.nombre">
		<input type="text" placeholder="introduce la priorida de la tarea" v-model="nuevaTarea.prioridad">
		<input type="button" value="Enviar tarea" v-on:click="agregarTarea"> -->
		
		<h1>Manejo de formularios</h1>
		<form v-on:submit.prevent="agregarTarea" >

			<input type="text" placeholder="introduce tu tarea" v-model="nuevaTarea.nombre">
			<input type="text" placeholder="introduce la priorida de la tarea" v-model="nuevaTarea.prioridad">
			<input type="submit" value="Enviar tarea">
			

		</form>

		<input type="button" v-bind:value="boton" v-on:click="cambiarletras">


		<!-- Propiedades computadas ejemplo -->
		<!-- <h1> {{ mensaje }}</h1>
		<h1> {{ mensajeAlReves }}</h1> -->

		<h1>Tareas con prioridad alta, ejemplo computed properrties</h1>
		
		<ul>
			<li v-for="tarea in tareasConPrioridad">
				{{ tarea.nombre }}
			</li>
		</ul>

		<h1>Tareas por antiguedad </h1>
		
		<ul>
			<li v-for="tarea in tareasPorAntiguedad">
				{{ tarea.nombre }}
			</li>
		</ul>

		<h1>Filtrado de tareas por antiguedad</h1>

		<ul>
			<li v-for="tarea in antiguedadMinima">
				{{ tarea.nombre }}
			</li>

		</ul>

		<input type="range" min="0" max="150" v-model="minimo">

		<h1>Busqueda de una tarea </h1>

		<input type="search" v-model="busqueda" placeholder="buscar juego">

		<ul>
			<li v-for="tarea in buscarTarea">
				{{ tarea.nombre }}
			</li>

		</ul>

		<h1>Data binding en atributos y clases</h1>
		<ul>
			<li @click="completarTarea(tarea)" v-for="tarea in tareas" :class="{completado: tarea.completado}">
				{{ tarea.nombre }} <strong>
					{{ tarea.completado }}
				</strong>
			</li>
		</ul>

		<h1>Mostrar tareas completas con methods</h1>
		
		<input type="button" @click="buscarTareasCompletadas" value="buscar">
		<h2>el numero de tareas completadas es: {{ completadas }}</h2>

		<h1> Mostra tareas completas con computed properties</h1>

		<h2> hay {{ TareasCompletadas.length }} tareas completas</h2>


	</div>
	
	

	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.min.js"></script>
	<script src=""></script> 
	<script type="text/javascript">
		
				let main = new Vue({
			el: '#main',
			
			data: {
				busqueda: '',
				boton: 'hola',
				conectado: true,
				edad: 18,
				feriados: ['sabado','domingo'],
				minimo: 60,
				tareas: [
					{nombre:'hacer la cama',prioridad: 'alta',antiguedad: 24,completado:false},	
					{nombre:'vuejs',prioridad: 'alta',antiguedad: 50,completado:false},	
					{nombre:'fifa18',prioridad: 'baja',antiguedad: 80,completado:false},	
				],
				nuevaTarea: {nombre: '', prioridad: '', antiguedad: null,completado:false},
				persona: {
					nombre: 'joel suarez',
					edad: '22',
					profesion: 'programador',
				},
				mensaje: 'arepa',
				completadas: 0,
			},
			methods: {
				agregarTarea () {
					//this, hace referencia a instancia vue
					this.tareas.unshift(this.nuevaTarea)
					this.nuevaTarea = {nombre: '', prioridad: '', antiguedad: null}
				},
				cambiarletras () {
					if(this.boton === 'hola')
					this.boton = 'chao'
					else this.boton = 'hola'
				},
				completarTarea(tarea){
					tarea.completado = !tarea.completado
				},
				buscarTareasCompletadas(){
					self = this
					self.completadas = 0
					this.tareas.forEach(function(tarea){
						if(tarea.completado == true){
							self.completadas++
						}
					})
					

				}
			},
			computed: {
				mensajeAlReves(){
					return this.mensaje.split('').reverse().join('')
				},
				tareasConPrioridad(){
					return this.tareas.filter(function(tarea){
						return tarea.prioridad === 'alta' 
					})
				},
				tareasPorAntiguedad(){
					return this.tareas.sort((a,b) => b.antiguedad - a.antiguedad)
				},
				antiguedadMinima(){
					return this.tareas.filter((tarea)=> tarea.antiguedad >= this.minimo)
				},
				buscarTarea(){
					return this.tareas.filter((tarea)=>tarea.nombre.includes(this.busqueda))
				},
				TareasCompletadas(){
					
					return this.tareas.filter((tarea)=>tarea.completado)

				}
			},
			
		})




	</script>

</body>
</html>