<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Curso de vuejs</title>
</head>
<style>
	
</style>
<body>

	<div id="app">
		<!-- <template v-if="mostrar"> -->
			<!-- v-if desaperece del dom, no se puede utilizar v-show -->
			<!-- <h1>{{titulo | uppercase}}</h1>
			<h2>{{subtitulo | lowercase }}</h2>
			<h2>{{presentacion | capitalize}}</h2>
			el contador esta en {{ contador }}
			<button v-on:click="sumar"> Sumar 1</button> -->
			<!-- <button v-on:click="restar"> Restar 1</button> -->
			<!-- <button @click="sumar"> Sumar 1</button>
			<button @click="restar"> Restar 1</button> -->
			
			<!-- <a  :href="url"  target="_blank">ir a {{pagina}}</a> -->

		<!-- </template> -->
		<!-- <div v-show="!mostrar">  -->
			<!-- Simplemente coloca un display:none -->
			<!-- Esto esta oculto -->
		<!-- </div> -->
		<input type="text" name="nombre" placeholder="ingresa tu nombre" v-model="nombre">
		<p>TU nombre en mayuscula es: {{nombre | uppercase}}</p>

		<form v-on:submit.prevent="submit" action="">
			<h2>Cuales son tus cursos favoritos?</h2>
			<input v-model="cursos" type="checkbox" id="vue" value="vue">
			<label for="vue">Curso de Vuejs</label>
			<input v-model="cursos" type="checkbox" id="seo" value="seo">
			<label for="seo">Curso de Seo</label>
			<input v-model="cursos" type="checkbox" id="react" value="react">
			<label for="react">Curso de React</label>
			<input v-model="cursos" type="checkbox" id="growth" value="growth">
			<label for="growth">Curso de growth marketing</label>
			<button type="submit">enviar</button>
		</form>
	</div>

	<!-- <div id="main">
		<ul>
			<li v-for="item in people">{{item | capitalize}}</li>
		</ul>
		<input type="text" v-model="name" v-on:keyup.enter="addName">
		<input type="text" v-model="info" >
		<p v-bind:title="info" >texto de relleno... {{ info }}</p>
	</div> -->
	
	<!-- <div id="likes">
		<p v-bind:title="like"> tiene {{like}} likes</p>	
		<input type="text" v-model="like" v-on:keyup.enter="addLike">	
	</div> -->

	<script src="https://unpkg.com/vue"></script> 
	<script type="text/javascript">
		let app = new Vue({
			el: '#app',
			data: {
				url: 'https://google.com',
				pagina: 'Google',
				mostrar: true,
				titulo: 'estas en platzi',
				subtitulo: 'curso de vuejs',
				presentacion: 'joel suarez',
				contador: 0,
				nombre: '',
				cursos: [],
			},
			filters: {
				uppercase: function (str){
					return str.toUpperCase()	
				},
				lowercase: function (str){
					return str.toLowerCase()
				},
				capitalize: str => str.charAt(0).toUpperCase() + str.slice(1).toLowerCase()
			},
			methods:{
				sumar: function (){
					this.contador++		
				},
				restar: function(){
					this.contador--		

				},
				submit: function (){
					console.log(this.cursos)
				}
			}



		})

		let likes = new Vue({
			el: '#likes',
			data:{
				like: '0',

			},
			methods:{
				addLike: function(){
					return this.like++
				},
				quitlike: function(){
					return this.like--
				}
			}
		})

		let main = new Vue({
			el: '#main',
			data: {
				people: ['linda', 'isabella', 'luisa', 'diana'],
				info : ''
			},
			filters: {
				capitalize: function (str){
					return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase()
				}
			},
			name: '',
			methods: {
				addName: function(){
					this.people.push(this.name)
					this.name = ''	
				}
			} 
		})




	</script>

</body>
</html>